<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="card">
      <div class="card-header">
        <%= f.label :email %><br />
      </div>
      <div class="card-body">
        <div class="field form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="card">
      <div class="card-header">
        Password
      </div>
      <div class="card-body">
        <div class="field form-group">
          <% f.label :password %> 
          <%= 
            f.password_field :password, 
            class:"form-control", 
            placeholder:"New Password", 
            autocomplete: "new-password" 
          %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="field form-group">
          <% f.label :password_confirmation %>
          <%= 
            f.password_field :password_confirmation,
            class:"form-control", 
            placeholder:"Confirm Password", 
            autocomplete: "new-password" 
          %>
         </div>
        </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="field form-group">
          <div class="field form-group">
            <%= 
              f.password_field :current_password,
              class:"form-control", 
              placeholder:"Current Password",  
              autocomplete: "current-password" 
            %>
            <% f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          </div>
        </div>
      </div>
    </div>
    

   
      <div class="card">
        <div class="card-body">
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
        </div>
      </div>
    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-secondary' %>
    </div>
    <br/>
    <%= link_to "Back", :back, class: 'btn btn-secondary'%> 

  <% end %>

  <br/>

